Code thuật toán mã hóa RC4 bằng asm x86
- Nghiên cứu, giải thích thuật toán
- Input: Plain Text + Key
- Output: Hex
- Code tổ chức, comment rõ ràng từng dòng
- Không dùng bất cứ thư viện có sẵn nào, kiểu invoke, hay printf, hay scan, tất cả chỉ được dùng WinAPI, 

  Call WriteConsole call ReadConsole truyền tham số bằng push stack, atoi, itoa tất cả code chay
